<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Editar un usuario</h2>
        <br>
        <form name="usuario" (ngSubmit)="f.form.valid && editUser()" #f="ngForm" novalidate>
              <div class="form-group">
                    <label for="Nombre usuario"><b>Nombre</b></label>
                    <input type="text" name="usuarioName" class="form-control" id="usuarioName" [(ngModel)]="usuario.nombreUsuario"
                        #usuarioName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && usuarioName.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Falta el nombre del usuario</div>
                    </div>

            
   
                <label for="Clasificacion"><b>Clasificacion</b></label>
                <input type="number" name="Clasificacion" class="form-control" id="Clasificacion" [(ngModel)]="usuario.calificacion "
                       #Clasificacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Clasificacion.invalid }" required>
                       <div class="invalid-feedback">
                    <div>Hace falta la Clasificacion</div>
                </div>
            </div>
        
   

<div class="row form-inline justify-content-center align-self-center">
    <button type="submit" class="btn btn-primary">Confirmar</button>
    <div class="divider"></div>
    <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancelar</button>
</div>
</form>
</div>
<div class="col-3"></div>
</div>
