<div class="row">
<div class="col">
<mat-card class="right">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-lg-image src="../../../assets/Portadas/portada1.jpg" class = "center" >
      <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

</mat-card>
</div>
<div class="col-3">
<img src="../../../assets/exchange.svg" class = "center" height="100" width="100" >
<span style="display: block; height:1cm" ></span>
<mat-chip-list >
    <mat-chip color="warn" selected class ="center-height">Rechazado</mat-chip>
    </mat-chip-list>

</div>
<div class="col">
<mat-card class="left">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-lg-image src="../../../assets/Portadas/portada4.jpg" class = "center">
      <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

</mat-card>
</div>
</div>