<div class="row">
<div class="col">
<mat-card class="right">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{libroOfrecido.titulo}}</mat-card-title>
        <mat-card-subtitle>{{libroOfrecido.autor}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-lg-image src='{{libroOfrecido.portada}}' class = "center" >
      <mat-card-content>
          <span style="display: block; height:0.5cm" ></span>
          <p>
            {{respuesta.razon}}
          </p>
        </mat-card-content>

</mat-card>
</div>
<div class="col-3">
<img src="../../../assets/exchange.svg" class = "center" height="130" width="130" >
<span style="display: block; height:1cm" ></span>
<mat-chip-list >
    <mat-chip color="warn" selected class ="center-height">Rechazado</mat-chip>
  </mat-chip-list>
  <span style="display: block; height:1.5cm" ></span>
  <button mat-raised-button color="primary"  style="font-size: 25px" class = "aceptar">Aceptar</button>
  <button mat-raised-button color="warn" style="font-size: 25px" class="rechazar">Rechazar</button>
</div>
<div class="col">
<mat-card class="left">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-lg-image src='{{libroPedido.portada}}' class = "center">
      <mat-card-content>
          <span style="display: block; height:0.5cm" ></span>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

</mat-card>
</div>
</div>