
<div class = "container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let libro of libros">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/usuarios/{{libro.id}}">{{libro.titulo}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>