<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">Libro: {{libro.titulo}}</p>
        <br>
        <p class="h3 p-3">Id: {{libro.id}} </p>
        <br>
        <p class="h3 p-3">Autor: {{libro.autor}} </p>
        <br>
        <p class="h3 p-3">ISBN: {{libro.ISBN}} </p>
        <br>
        <br>
        <p class="h3 p-3">edicion: {{libro.edicion}} </p>
        <br>
        <br>
        <p class="h3 p-3">estado: {{libro.estado}} </p>
        <br>
        <br>
        <p class="h3 p-3">precio: {{libro.precio}} </p>
        <br>
        
    </div>
</div>