<div class="row">

 <div class="col-3">
<img class="img-thumbnail"
                         style="  width:  400px;
                                  height: 500px;"
                         src='{{libro.portada}}' alt="{{libro.id}}" /> 
                    
                </div>
  <div class="col-4">
    <div class="container-fluid">  
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="font-size: 20pt;">Detalles del libro</th>
                    </tr>
                </thead>
               
                    <tr>
                        <td style="font-weight: bold;">Libro</td>
                    </tr>
                    <tr>
                        <td> {{libro.titulo}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;"> Autor </td>
                    </tr>
                    <tr>
                        <td>{{libro.autor}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;"> Edición </td>
                    </tr>
                    <tr>
                        <td> {{libro.edicion}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Estado </td>
                    </tr>
                    <tr> <td>{{libro.estado}} </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">
                            Precio
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{libro.precio}}
                        </td>
                    </tr>
                
            </table>
           
    </div>
   
</div>
    <div class="col-4">
    <div class="container-fluid">  
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="font-size: 20pt;" *ngIf="isLoggedIn$ | async">¿Deseas canjear este libro?, ¡Añadelo al carro de compras!</th>
                        <th style="font-size: 20pt;" *ngIf="isLoggedOut$ | async">¿Deseas canjear este libro?, ¡Inicia sesion para continuar!</th>

                    </tr>
                </thead>
                
                    <tr>
                        <td style="font-weight: bold;">Usuario</td>
                    </tr>
                     <tr>
                        <td> {{libro.duenio.nombreUsuario}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Calificacion</td>
                    </tr>
                     <tr>
                        <td> {{3}}</td>
                    </tr>
                    <tr>
                        
            <button type="submit" class="btn btn-primary" style="width: 150px;height: 70px;" *ngIf="isLoggedIn$ | async"
                (click)="addLibroACarro()" >Añadir</button>
               
                    </tr>
                
                
                </table>
                </div>
        </div>
 
     