.example-container > * {
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

.date {
  max-width: 6cm;
}

.mat-row:hover {
  cursor: pointer;
}

[mat-row].remove-background {
  background: none ;
}