<div class="example-container">

  <mat-form-field>
    <input matInput [(ngModel)]="respuesta.id" placeholder="Ingrese el id de la respuesta">
  </mat-form-field>



  <mat-form-field>
    <input matInput [(ngModel)]="respuesta.id" placeholder="Ingrese el id de la respuesta">
  </mat-form-field>


  <mat-form-field>
    <textarea [(ngModel)]="respuesta.comentario" matInput placeholder="Ingrese un comentario"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea [(ngModel)]="respuesta.calificacion" matInput placeholder="Ingrese calificacion"></textarea>
  </mat-form-field>

  <button mat-button (click)="crear()">Crear</button>
</div>