<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>




<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- DESCRIPCION USUARIO -->

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Nombre: {{usuario.nombreUsuario}}
                    </div>
                    <div class="profile-usertitle-job">
                        Id: {{usuario.id}}
                    </div>
                    <div class="profile-usertitle-job">
                        Correo: {{usuario.correo}}
                    </div>
                    <div class="profile-usertitle-job">
                        Calificacion: {{usuario.calificacion}}
                    </div>
                </div>
                <!-- FIN DESCRIPCION USUARIO -->
                <!-- EDITAR Y BORRAR USUARIO -->
                <div
                    *ngIf="usuarioService.getUsuarioUsuarioActual()!=null && usuarioService.getUsuarioUsuarioActual().id == usuario.id ">
                    <div class="profile-userbuttons">
                        <button type="button" routerLink="/usuarios/{{usuario.id}}/edit"
                            class="btn btn-success btn-sm">Editar perfil</button>
                        <button type="button" routerLink="/home" (click)="deleteUsuario()"
                            class="btn btn-danger btn-sm">Eliminar perfil</button>
                    </div>
                </div>
                <!-- END EDITAR Y BORRAR USUARIO -->
                <!--  MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="usuarios/{{usuario.id}}#libros">
                                <i class="glyphicon glyphicon-book"></i>
                                Libros </a>
                        </li>
                        <br>
                       
                            <li>
                                  
                                <a href="usuarios/{{usuario.id}}#crealizados">
                                    <div
                                    *ngIf="usuarioService.getUsuarioUsuarioActual()!=null && usuarioService.getUsuarioUsuarioActual().id == usuario.id ">
                                    <i class="glyphicon glyphicon-retweet" style="color:orange"></i>
                                    Canjes realizados </div></a>
                            </li>
                            <br>
                            <li>
                                    
                                <a href="usuarios/{{usuario.id}}#crecibidos">
                                    <div
                                    *ngIf="usuarioService.getUsuarioUsuarioActual()!=null && usuarioService.getUsuarioUsuarioActual().id == usuario.id ">
                                    <i class="glyphicon glyphicon-retweet" style="color:pink"></i>
                                    Canjes recibidos </div> </a>
                        
                    </ul>
                </div>
                <!-- FIN MENU -->
                <!-- LIBROS -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">


                <div id="libros" class="row border margin">


                    <p class="h3 p-3" id="libros">Libros disponibles:
                        <br>

                        <u class="nav">
                            <div
                                *ngIf="usuarioService.getUsuarioUsuarioActual()!=null && usuarioService.getUsuarioUsuarioActual().id == usuario.id ">
                                <li>
                                    <a routerLink="/libros/add">
                                        <i class="glyphicon glyphicon-book"></i>
                                        Agregar un libro </a>
                                </li>
                            </div>
                        </u>

                    </p>



                    <div *ngFor="let libro of Libros">



                        <div *ngIf="libro.duenio!=null&&libro.duenio.id==usuario.id ">


                            <div class="col-md-20  offset-sm-1" style=" text-align:center; background-color: #F5F5F5;">


                                <figure class="figure" routerLink="/libros/{{libro.id}}" style="cursor: pointer;">
                                    <div class="img-thumbnail border-0">

                                        <img class="img-thumbnail" style="  width:  200px;
                                      height: 300px;" src='{{libro.portada}}' alt="{{libro.id}}" />

                                    </div>
                                    <br><br>
                                    <figcaption class="title-caption text-center" style="
                                       overflow: hidden;
                                       white-space: nowrap;
                                       font-size:20px;
                                       text-overflow: ellipsis;">Titulo: {{libro.titulo}}</figcaption>
                                </figure>
                                <br><br>
                                <div
                                    *ngIf="usuarioService.getUsuarioUsuarioActual()!=null && usuarioService.getUsuarioUsuarioActual().id == usuario.id ">
                                    <div class="row form-inline justify-content-center align-self-center">
                                        <button type="button" class="btn btn-primary " style=" text-align:center;"
                                            routerLink="/libros/{{libro.id}}/edit">Editar</button>
                                        <button type="button" class="btn btn-danger"
                                            routerLink="/libros/{{libro.id}}/delete">Eliminar</button>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- FIN LIBROS -->
            <!-- CANJES REALIZADOS  -->
            <br>
            <div
                *ngIf="usuarioService.getUsuarioUsuarioActual()!=null && usuarioService.getUsuarioUsuarioActual().id == usuario.id ">
                <div class="row border margin">

                    <p class="h3 p-3" id="crealizados" style="color:orange">Canjes realizados: </p>


                    <div *ngFor="let canje of canjes">



                        <div *ngIf="canje.usuarioQueOfrece!=null&&canje.usuarioQueOfrece.id==usuario.id ">


                            <div class="col-md-10  offset-sm-1" style=" background-color: #F5F5F5; text-align:center;">


                                <figure class="figure" routerLink="/canjes/{{canje.id}}" style="cursor: pointer;">

                                    <figure class="figure" routerLink="/libros/{{canje.libroOfrecido.id}}"
                                        style="cursor: pointer;">

                                        <br>
                                        <br>

                                        <figcaption class="title-caption text-center">Libro ofrecido:
                                            <a style="color:blue; text-decoration: underline;">
                                                {{canje.libroOfrecido.titulo}}</a></figcaption>

                                    </figure>
                                    <br>
                                    <br>
                                    <figure class="figure" routerLink="/libros/{{canje.libroPedido.id}}"
                                        style="cursor: pointer;">

                                        <figcaption class="title-caption text-center">Libro pedido:
                                            <a style="color:blue; text-decoration: underline;">
                                                {{canje.libroPedido.titulo}}</a></figcaption>

                                    </figure>

                                    <br>
                                    <br>



                                    <i class="glyphicon glyphicon-tasks" style="color:orange"></i>
                                    Estado: <a style="color:blue; text-decoration: underline;">{{canje.estado}}</a>




                                    <br>
                                    <br>
                                    <figcaption class="title-caption text-center">Fecha de creacion:
                                        {{canje.fechaDeCreacion.toString().split('T')[0]}}</figcaption>
                                    <br>



                                </figure>
                                <div *ngIf="canje.estado == er">
                                    <div class="row form-inline justify-content-center align-self-center">
                                        <button type="button" class="btn btn-primary"
                                            (click)="aceptarCanje(canje.id)">Aceptar</button>
                                        <button type="button" class="btn btn-danger"
                                        (click)="denegarCanje(canje.id)">Denegar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- FIN CANJES REALIZADOS  -->
                <!-- CANJES RECIBIDOS  -->

                <br>
                <div class="row border margin">


                    <p class="h3 p-3" id="crecibidos" style="color:pink">Canjes recibidos: </p>

                    <div *ngFor="let canje of canjes">



                        <div *ngIf="canje.usuarioQueRecibe!=null&&canje.usuarioQueRecibe.id==usuario.id">


                            <div class="col-md-20  offset-sm-1" style=" background-color: #F5F5F5; text-align:center;">


                                <figure class="figure" routerLink="/canjes/{{canje.id}}" style="cursor: pointer;">

                                    <figure class="figure" routerLink="/libros/{{canje.libroOfrecido.id}}"
                                        style="cursor: pointer;">

                                        <br>
                                        <br>

                                        <figcaption class="title-caption text-center">Libro ofrecido:
                                            <a style="color:blue; text-decoration: underline;">
                                                {{canje.libroOfrecido.titulo}}</a></figcaption>

                                    </figure>
                                    <br>
                                    <br>
                                    <figure class="figure" routerLink="/libros/{{canje.libroPedido.id}}"
                                        style="cursor: pointer;">

                                        <figcaption class="title-caption text-center">Libro pedido:
                                            <a style="color:blue; text-decoration: underline;">
                                                {{canje.libroPedido.titulo}}</a></figcaption>

                                    </figure>

                                    <br>
                                    <br>



                                    <i class="glyphicon glyphicon-tasks" style="color:orange"></i>
                                    Estado: <a style="color:blue; text-decoration: underline;">{{canje.estado}}</a>




                                    <br>
                                    <br>
                                    <figcaption class="title-caption text-center">Fecha de creacion:
                                        {{canje.fechaDeCreacion.toString().split('T')[0]}}</figcaption>
                                    <br>



                                </figure>
                                <div *ngIf="canje.estado == aceptado">
                                    <div class="row form-inline justify-content-center align-self-center">
                                        <button type="button" class="btn btn-primary"
                                        [routerLink]="[ '/respuesta/create']" >Generar respuesta</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- FIN  CANJES RECIBIDOS  -->
            </div>



        </div>
    </div>
</div>