<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">Usuario: {{usuario.nombreUsuario}}</p>
        <br>
        <p class="h3 p-3">Id: {{usuario.id}} </p>
        <br>
        <p class="h3 p-3">Correo: {{usuario.correo}} </p>
        <br>
        <p class="h3 p-3">Calificacion: {{usuario.calificacion}} </p>
        <br>
        <button   style="cursor: pointer; background-color: 'primary'; color: #3366ff ;font: bold 18px TimesNewRoman;" [routerLink]="[ '/libros/add']"  >Agregar un libro</button>
        <br>
        <div class="row border margin">
            
            
            <p class="h3 p-3">Libros disponibles: </p>
          
        </div>
    </div>
</div>