
<div class = "container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre del Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let ususario of usuarios">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/usuarios/{{ususario.id}}">{{ususario.name}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>