<div class="container-fluid">
        <mat-toolbar><img src="../assets/notebook.svg" width="50" height="50" routerLink="" (click)="diselected()" style="cursor: pointer;">  
            <a routerLink="" style="cursor: pointer;" (click)="diselected()">Booklet</a>
            <span class="example-fill-remaining-space"></span>
            <img src="../assets/shopping-cart.png" width="25" height="25" routerLink="/carro/4" (click)="diselected()" style="cursor: pointer;"> </mat-toolbar>
        <mat-toolbar color="primary" >
                <span class="example-fill-remaining-space"></span>
                <button mat-button [matMenuTriggerFor]="menu">Demo listar</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="[ '/carro/list']" (click)="selected()">Listar carros de compra</button>
                  <button mat-menu-item [routerLink]="[ '/usuarios/list']" (click)="selected()">Listar Usuarios</button>
                  <button mat-menu-item [routerLink]="[ '/libros/list']" (click)="selected()">Listar Libros</button>
                  <button mat-menu-item [routerLink]="[ '/respuesta/list']" (click)="selected()">Listar Respuestas</button>
                </mat-menu>
        </mat-toolbar>
        <router-outlet></router-outlet> 
        <button mat-flat-button color="primary" routerLink="" *ngIf="getSelect()" (click)="diselected()" >regresar</button>
    <footer class="footer bg-light" id="footer">
        <div class="container">
            <p class="navbar-text text-center">
                <img src="../assets/uniandes.png" alt="logo" width="8%" /><span id="footer-text"></span>
                <a routerLink="/home"> s4_libros-Front</a>
                <a [routerLink]="[ '/carro/list']">Listar</a>y
            </p>
        </div>
    </footer>
</div>
