.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .Banner{
     width:  100%;
  }
  
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        div {
            

            background-image: url('http://mediamendoza.com/fotos/archivo/20170228163544-libro.jpeg');
            background-size:100% 100%;
           
        }
