<div class="container-fluid">
  <mat-toolbar><img src="../assets/notebook.svg" width="50" height="50" routerLink="/home" (click)="diselected()"
      style="cursor: pointer;">
    <a routerLink="/home" class="mat-typography"
      style="cursor: pointer; background-color: 'primary'; color: #3366ff ; font-size: 25pt; font-weight: bold"
      (click)="diselected()">Book</a>
    <a routerLink="/home" class="mat-typography"
      style="cursor: pointer; background-color: 'primary'; color: #fc1a96; font-size: 25pt; font-weight: bold"
      (click)="diselected()">Let</a>
    <span class="example-fill-remaining-space"></span>
    <img src="../assets/shopping-cart.png" width="25" height="25" *ngIf="isLoggedIn$ | async"
      routerLink="/carro/{{us.getUsuarioUsuarioActual().id}}" (click)="selected()" style="cursor: pointer;">
    <button mat-stroked-button routerLink="/auth/login" class="mat-typography"
      style="cursor: pointer; background-color: 'primary'; color: #3366ff ;font: bold; font-size: 15pt"
      (click)="diselected()" *ngIf="isLoggedOut$ | async" (click)="selected()">Log In</button>

    <button mat-raised-button routerLink="/auth/sign-up" class="mat-typography"
      style="cursor: pointer; background-color: #fc1a96; color:white ;font: bold; font-size: 15pt"
      (click)="diselected()" *ngIf="isLoggedOut$ | async" (click)="selected()">Sign Up</button>

    <button mat-button routerLink="/home" class="mat-typography"
      style="cursor: pointer; background-color: 'primary'; color: #3366ff ; font: bold; font-size: 15pt"
      (click)="logout()" *ngIf="isLoggedIn$ | async">Logout</button>

    <button mat-button routerLink="/usuarios/{{us.getUsuarioUsuarioActual().id}}" class="mat-typography"
      style="cursor: pointer; background-color: 'primary'; color: #3366ff ;font: bold; font-size: 15pt"
      *ngIf="isLoggedIn$ | async" (click)="selected()">Mi perfil</button></mat-toolbar>


  <mat-toolbar color="primary" style="width: 100%">
    <span class="example-fill-remaining-space"></span>
    <button mat-button [matMenuTriggerFor]="menu">Demo listar</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="[ '/carro/list']" (click)="selected()">Listar carros de compra</button>
      <button mat-menu-item [routerLink]="[ '/usuarios/list']" (click)="selected()">Listar Usuarios</button>
      <button mat-menu-item [routerLink]="[ '/libros/list']" (click)="selected()">Listar Libros</button>
      <button mat-menu-item [routerLink]="[ '/respuesta/list']" (click)="selected()">Listar Respuestas</button>
      <button mat-menu-item [routerLink]="[ '/canje/list']" (click)="selected()">Listar Canjes</button>

    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu2">Demo crear</button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item [routerLink]="[ '/carro/create']" (click)="selected()">Crear carro de compra</button>
      <button mat-menu-item [routerLink]="[ '/usuarios/add']" (click)="selected()">Crear usuario</button>
      <button mat-menu-item [routerLink]="[ '/libros/add']" (click)="selected()">Crear libro</button>
      <button mat-menu-item [routerLink]="[ '/respuesta/create']" (click)="selected()">Crear respuesta</button>
      <button mat-menu-item [routerLink]="[ '/canje/add']" (click)="selected()">Crear canje</button>

    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu3">Demo Actualizar</button>
    <mat-menu #menu3="matMenu">
      <button mat-menu-item [routerLink]="[ '/carro/update']" (click)="selected()">Actualizar carro de compra</button>
      <button mat-menu-item [routerLink]="[ '/usuarios/10/edit']" (click)="selected()">Actualizar usuario</button>
      <button mat-menu-item [routerLink]="[ '/respuesta/update']" (click)="selected()">Actualizar respuesta</button>

    </mat-menu>
  </mat-toolbar>

  <div class="container-fluid">
    <br />
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" name="libro" (ngSubmit)="getLibros()">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
            </div>
            <div class="col">
              <input #libroTitulo name="libroTitulo" class="form-control form-control-lg form-control-borderless"
                id="libroTitulo" type="text" placeholder="Usa el titulo para buscar un libro para canjear!">
              <input #libroAutor name="libroAutor" class="form-control form-control-lg form-control-borderless"
                id="libroAutor" type="text" placeholder="Usa el autor para buscar un libro para canjear!">

            </div>
            <div class="col-auto">
              <button mat-button>
                <mat-icon (click)="selected()" style="cursor: pointer; font-size: 27pt" aria-hidden="false">search
                </mat-icon>
              </button>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="row-md-2" *ngFor="let libro of Libros">
            <figure class="figure" routerLink="/libros/{{libro.id}}" style="cursor: pointer;" (click)="selected()">
              <div class="img-thumbnail border-0">
                <div>
                  <p *ngIf="isLoggedIn$ | async"><br /> </p>
                  <hr>
                  <p *ngIf="isLoggedIn$ | async"><br /> </p>
                </div>
                <div class="row">
                  <button mat-button *ngIf="isLoggedIn$ | async">
                    <mat-icon style="color: #3366ff">shopping_cart</mat-icon>
                  </button>
                </div>
                <img class="img-thumbnail" style="  width:  200px;
                                  height: 300px;" src='{{libro.portada}}' alt="{{libro.id}}" />

              </div>
              <figcaption class="title-caption text-center" style="width: 200px;
                                   overflow: hidden;
                                   white-space: nowrap;
                                   text-overflow: ellipsis;">{{libro.titulo}}</figcaption>
              <figcaption class="title-caption text-center">{{libro.precio}}</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
  <div>
    <p><br /> </p>
    <hr>
  </div>



  <router-outlet></router-outlet>
</div>
<div >
  <br>
  <button mat-flat-button color="primary" routerLink="home" *ngIf="getSelect()" (click)="diselected()">regresar</button>
</div>
<div>
  <img class="Banner" src="../assets/Banner libros.png" *ngIf="!getSelect()">
  <p><br /> </p>
  <img class="Banner" src="../assets/Banner.png" *ngIf="!getSelect()">
</div>