<div class="col-md-12">
  <div class="container-fluid">   
      <p class="h3 p-3">ID: {{canje.id}}</p>
      <br>
      <p class="h3 p-3">Fecha de Creación: {{canje.fechaDeCreacion}} </p>
      <br>
      <p class="h3 p-3">Libro Pedido: {{canje.libroPedido.titulo}}} </p>
      <br>
      <p class="h3 p-3">Dueño: {{canje.usuarioQueRecibe.nombreUsuario}}} </p>
      <br>
      <p class="h3 p-3">Libro Ofrecido: {{canje.libroOfrecido.titulo}}} </p>
      <br>
      <p class="h3 p-3">Dueño: {{canje.usuarioQueOfrece.nombreUsuario}}} </p>
      <br>
      <p class="h3 p-3">Estado: {{canje.estado}}} </p>
      <br>
      <div class="row border margin">
          
          <p class="h3 p-3">Libros disponibles: </p>
      </div>
  </div>
</div>