<div class="col-md-12">
  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="font-size: 20pt;">Detalles del Canje</th>
        </tr>
      </thead>
      <tr>
        <td>
          <p class="h3 p-3">ID: {{canje.id}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="h3 p-3">Fecha de Creación: {{canje.fechaDeCreacion}} </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="h3 p-3">Libro Pedido: {{canje.libroPedido.titulo}} </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="h3 p-3">Dueño: {{canje.libroPedido.duenio.nombreUsuario}} </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="h3 p-3">Libro Ofrecido: {{canje.libroOfrecido.titulo}} </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="h3 p-3">Dueño: {{canje.libroOfrecido.duenio.nombreUsuario}} </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="h3 p-3">Estado: {{canje.estado}} </p>
        </td>
      </tr>
      <div >
          <p><br /> </p>
          <hr >
        <button mat-flat-button color="primary" routerLink="" style="margin-left: 1.5cm">regresar</button>
      </div>
    </table>
  </div>
</div>