<table class="table table-striped table-dark">
    <thead>
        <tr>

            <th scope="col">titulo:</th>
            <th scope="col">ISBN:</th>
            <th scope="col">autor:</th>
            <th scope="col">editorial:</th>
            <th scope="col">edicion:</th>
            <th scope="col">estado:</th>
            <th scope="col">precio:</th>
            <th scope="col">portada:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let libro of Libros">

            <td style="cursor: pointer;">
    <dd class="figure-caption" routerLink="/libros/{{libro.id}}">{{libro.ISBN}}</dd>
</td>
</tr>
</tbody>
</table>